<h1>House <%= @house.name %> Members</h1>

<% @house.characters.each do |character| %>
  <h2>Name: <%= character.name %></h2>
  <h3>Age: <%= character.age %></h3>
  <p><img src="<%= character.img_url %>"></p>
<% end %>
